<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <td>First Name</td>
            <td>@Model.FirstName</td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>@Model.LastName</td>
        </tr>
    </table>
    @{if(TempData["FirstName"] != null)
    {
        <table>
            <tr>
                <td>First Name</td>
                <td>@TempData["FirstName"]</td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>@TempData["LastName"]</td>
            </tr>
        </table>
    }
    }
</body>
</html>